In [ ]:
a='United Nations'

In [ ]:
a[3:]

'ted Nations'

In [ ]:
a[-3:]

'ons'

In [ ]:
l1=['India','USA','China','Russia']

In [ ]:
l1[2:]

['China', 'Russia']

In [ ]:
l1[:-2]

['India', 'USA']

In [ ]:
l1[::]

['India', 'USA', 'China', 'Russia']

In [ ]:
l1[::2]

['India', 'China']

In [ ]:
l1[1:4:2]

['USA', 'Russia']

In [ ]:
L2=['Machine Learning','Deep Learning','Python','Tablaeu']

In [ ]:
L2.append('statistic') #will add an element in the list at end of list

In [ ]:
print(L2)

['Machine Learning', 'Deep Learning', 'Python', 'Tablaeu', 'statistic']

In [ ]:
L2.insert(2,'Tableau')# will add an element in the list at desired location of list

In [ ]:
print(L2)

['Machine Learning', 'Deep Learning', 'Tableau', 'Python', 'Tablaeu', 'statistic']

In [ ]:
L2.remove('Tableau')

In [ ]:
print(L2)

['Machine Learning', 'Deep Learning', 'Python', 'Tablaeu', 'statistic']

In [ ]:
L2.pop(2)

'Python'

In [ ]:
print(L2)

['Machine Learning', 'Deep Learning', 'Tablaeu', 'statistic']

In [ ]:
L2.extend(['computer vision','R Programming','NLP','GAN'])#will multiple elements

In [ ]:
print(L2)

['Machine Learning', 'Deep Learning', 'Tablaeu', 'statistic', 'computer vision', 'R Programming', 'NLP', 'GAN']

In [ ]:
len(L2)

8

In [ ]:
L3=[1,2,4,8,9,4,2,6,9,7,4,5,3,6,4,9,5,4,9,2]

In [ ]:
sum(L3)

103

In [ ]:
L3.count(4)#it will use to count the frequency of the particular value

5

Data Structures in Python
1.Dictioneries
2.Tuples
3.Sets

In [ ]:
#Dictioneries
memo={'chips':20,'chocolates':200,'Ice cream':180,'Bread':45}

In [ ]:
memo['chocolates']

200

In [ ]:
memo['chips']

20

In [ ]:
#adding new key value fair in a dictionery
memo['Notebook']=200

In [ ]:
print(memo)

{'chips': 20, 'chocolates': 200, 'Ice cream': 180, 'Bread': 45, 'Notebook': 200}

In [ ]:
memo['chips']=100

In [ ]:
print(memo)

{'chips': 100, 'chocolates': 200, 'Ice cream': 180, 'Bread': 45, 'Notebook': 200}

In [ ]:
del memo['chips']

In [ ]:
print(memo)

{'chocolates': 200, 'Ice cream': 180, 'Bread': 45, 'Notebook': 200}

# TUPLES

In [ ]:
#Tuples
#() Is used to create a tuples
t=('India','Python',25,35,-25.2,-18.5)

In [ ]:
type(t)

tuple

In [ ]:
t[2]

25

In [ ]:
t[3:5]

(35, -25.2)

In [ ]:
t[:]

('India', 'Python', 25, 35, -25.2, -18.5)

In [ ]:
# Sets are used to define { } Brakets
s={'India','Python',25,35,-25.2,-18.5}

In [ ]:
print(s) #random inner shuffling

{35, -25.2, 'Python', 25, 'India', -18.5}

IF Else statements/Control Flow/Conditional Statements

Take two numbers from the user and check which one is greater

In [ ]:
x=int (input('enter value of x'))
y=int(input('enter value of y'))

if x>y:
  print('x greater')

else:
    print('y is greater')

enter value of x10
enter value of y20
y is greater

In [ ]:
x=int (input('enter value of x'))
y=int(input('enter value of y'))

if x>y:
  print('x greater')

elif x==y:
  print('Both the  values are same')

else:
    print('y is greater')

enter value of x20
enter value of y10
x greater

In a fare entery fee of children less than 4 years of age is free of cost, entry fee for children between the age 4-16 years 100 INR, the entry fee for more than that age is 175 INR.

Take age is as input from the user and display the entery fee.

In [ ]:
age=int(input('enter your age'))

if age<4 :
  print('free of cost')

elif 4<=age<=16:
  print('entry fee is 100 INR')

else :
  print('entry fee is 175 INR')

enter your age25
entry fee is 175 INR

In [ ]:
age=int(input('enter your age'))

if age<4 :
  print('free of cost',age)

elif 4<=age<=16:
  print('entry fee is 100 INR',age)

else :
  print('entry fee is 175 INR',age)

enter your age25
entry fee is 175 INR 25

Take a number as input from the user and chek if the number is even or odd

In [ ]:
x=int(input('enter the number'))

if 0%2==0:
  print('number is even')

else:
  print('number is odd')

Take length and bredth of a rectangle as input from the user and check if rectangle is square or not

In [ ]:
len=int(input('enter the length'))
breadth=int(input('enter the breadth'))

if len==breadth:
  print('it is square')

else:
  print('it is rectangle')

the owner of the company decides to give 5% bonus to employees who have been working in the company for more than 5 years or more,
take salary input from the user along with the years of experience in the company and display the incremented salary (if any) or simply display the current salary.

In [ ]:
Salary=int(input('enter the salary'))

years=int(input('enter years of experience'))

if years>=5:
  print('incremented salary','current salary+0.05*current salary')

else :
  print("no increment in salary current_salary is", 'current_salary')

NESTED STATEMENTS

take a number number from the user as input and check if the number is greter than 10 or not
if it is greater than 10 then check if it is greater than 20 also or not.

In [ ]:
x=int(input('enter a number'))

if x>10:
  print('number is greater than 10')

  if x>20:
    print('number is greater than 20')

  else:
    print('number is greater than 10 but lessthan 20')

else:
  print('number is less than 10')

Take a number from the user as input and check if the number is negative or positive or zero using nested statements

In [ ]:
x=int(input('enter a number'))

if x==1:
  print('number is positive')

  if x==0:
    print('number is negative')

  else:
    print('number is zero')

else:
  print('number is zero')

LOOPS

WAP to print first natural 10 numbers

In [ ]:
a=1

while a<=10:
  print(a)
  a=a+1

WAP to print first 10 odd numbers

In [ ]:
a=1

while a<=20:
 print(a)
 a=a+2

2) FOR LOOP

WAP to display first 10 natural numbers

In [ ]:
for i in range(1,11):
  print(i)

OUTPUT Based Quetions

In [ ]:
a=7
b=5

while a<9:
  print(a+b)
  a=a+1

In [ ]:
x=5

while x<15:
  print(x**2)
  x=x+3

Take a number as input from the user and display the multiplication table till 10

In [ ]:
X=int(input('enter a number'))

for i in range (1,11):
  print(X*i)

Take a list of numbers and print all the even numbers from the list

In [ ]:
l1=[2,3,5,9,8,4]

for i in l1:
  if i%2==0:
    print(i)

Take a list of numbers and display the square of the numbers in the given list

In [ ]:
l2=[2,3,4,5,6]

for i in l2:
  print(i*i)

In [ ]:
l3=[2,3,4,5,9,11,45,78,32,42,22]

count_even=0
count_odd=0

for i in l3:
  if i%2==0:
    count_even=count_even+1

  else:
    count_odd=count_odd+1

print("the frequency of even numbers is",count_even, "and the frequency of the odd numbers is",count_odd)

STATEMENTS

1. Break

2. Continue

3. Pass

In [ ]:
# Pass statements-which will make segment code inactive
x=int(input("enter a number"))
y=int(input("enter a number"))

if x>y:
  print("x is greater")

else:
  pass

In [ ]:
l3=[2,3,4,5,9,11,45,78,32,42,22]

count_even=0
count_odd=0

for i in l3:
  if i%2==0:
    pass

  else:
    print(i)

In [ ]:
#break statement -forcebly come out of the loop
L1=['Mango', 'Banana', 'apple','Grapes', 'pineapple','orange']

for i in L1:
  if i=='Grapes':
   break

  print(i)

In [ ]:
# Continue Statement- it will skipped the element and continue as remain in the list or statements
L1=['Mango', 'Banana', 'apple','Grapes', 'pineapple','orange']

for i in L1:
  if i=='Grapes':
   continue

  print(i)

Display all the numbers between 1 to 10 except 4,6 and 8

In [ ]:
L1=[1,2,3,4,5,6,7,8,9,10]

for i in L1:
  if i==4 or i==6 or i==8:
    pass
  else:
    print(i)

USER DEFINED FUNCTIONS IN PYTHON : We can create function what ever we want the functions, while creating functions the key word is -def.

In [ ]:
def add(a,b):

  c=(a+b)

  print(c)

In [ ]:
add(10,20)

In [ ]:
add(50,10)

In [ ]:
def rect(l,b):
 area=l*b
 peri=2*(l+b)
 print("area", area,"perimter",peri)

In [ ]:
rect(5,6)

Create a function to calculate area and circumference of a circle

In [ ]:
def circle(r):
 area=3.14*r**2
 circum=2*3.14*r
 print("area",area,"circumference",circum)

In [ ]:
circle(2)

## NUMPY

In [ ]:
import numpy as np #np is allias name

In [ ]:
my_list=[1,2,3,4,5]

In [ ]:
array=np.array(my_list)

In [ ]:
print(array)

In [ ]:
type(array)#nd means n dimentional and the value of n is 1 in this case so we have 1D array

In [ ]:
type(my_list)

In [ ]:
my_list_1=[1,2,3,4,5]
my_list_2=[5,0,7,4,0]
my_list_3=[3,4,5,4,7]

arr_new=np.array([my_list_1,my_list_2,my_list_3])

print(arr_new) #this is the 2D array

#3D Array

In [ ]:
a=np.array([[[0,1,2,3],[4,5,6,7],[8,9,10,11]],[[12,13,14,15],[16,17,18,19],[20,21,22,23]]])

In [ ]:
print(a)

In [ ]:
a.shape # if it is having width, rows, columns it means that is 3D array.

In [ ]:
my_list_1=[1,2,3,4,5]
my_list_2=[5,0,7,4,0]
my_list_3=[3,4,5,4,7]

In [ ]:
print(arr_new)

In [ ]:
arr_new.shape

In [ ]:
arr_new.reshape(5,3)

In [ ]:
#Generating numbers using numpy

In [ ]:
np.linspace(1,10,5)

In [ ]:
np.linspace(1,10,20)

In [ ]:
arr_new.reshape(5,3)

USING RANDOM.RAND Function in Numpy

In [ ]:
np.random.rand(5,4) #5 indicates rows, 4 indicates columns,here by default the range will be between 0 to 1 only(1 being exclusive)

In [ ]:
np.random.rand(4,5)

In [ ]:
np.random.randint(1,10) #here 1 to 10 is the range (10 being exclusive)

2) PANDAS IN SK LEARN

In [ ]:
import pandas as PD # here PD is the alias name

In [ ]:
#steps to load the dataset in google colab
#Go to files-> upload to session storage -> upload dataset from the folder from your PC

In [ ]:
#How to read dataset in google colab
# copy path of the dataset which has been uploaded -> paste it in the PD.read_CSV()function

In [ ]:
#Example-data=pd.read_CSV('content tips.csv')

In [ ]:
#data.head() by default will the first five rows of the dataset

In [ ]:
#creating the dummy data
import pandas as pd
import numpy as np

In [ ]:
my_data=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['row1','row2','row3','row4','row5'],columns=['col1','col2','col3','col4'])

In [ ]:
print(my_data)

In [ ]:
#slicing in pandas

In [ ]:
my_list=[1,2,3] #Using the insert function problem solved from python test

In [ ]:
my_list.insert(1,10)

In [ ]:
print(my_list)

In [ ]:
my_tuple=(1,2,3,4,5)#Using the insert function problem solved from python test
count_of_3=my_tuple.count(3)

In [ ]:
print(count_of_3)

In [ ]:
a='desktop'# negative indexing problems

In [ ]:
a[-3:]

In [ ]:
# Using count function problems
word=input('enter a word')
count=0

for i in word:
  if i in ('a','e','i','o','u'):
   count=count+1

print(count)

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#using numpy function converting from list to arrays
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]

a=np.array([list1,list2,list3])

In [ ]:
a.shape

In [ ]:
# Data Visualization in Python
#importing nessesory modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as snr

In [ ]:
#iris dataset
iris=snr.load_dataset("iris")

In [ ]:
iris.head() #setosa, #verginica, #versicolor

In [ ]:
iris.tail()

In [ ]:
#line graph
a=iris.plot(figsize=(10,5),title='Line graph on iris data')
a.set_xlable=('X_axis') #rows
a.set_ylable=('Y axis') #columns

In [ ]:
b=iris['petal_length'].plot(figsize=(10,5),title='line graph on iris data')

In [ ]:
b=iris['petal_width'].plot(figsize=(10,5),title='line graph on iris data')

In [ ]:
#Bar Graph
iris.head()

In [ ]:
df=iris.drop(['species'],axis=1) #axis=1 will delete the entire column

In [ ]:
df.head()

In [ ]:
#Bar Graph
df.plot(kind='bar')